* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #242424;
}
img{
  max-width: 100%;
  height: auto;
}
a{
 text-decoration: none;
 color: #FFFFFF;
}
li{
  display: inline-block;
  list-style-type: none;
}
.container{
  padding: 0 120px;
}
.left{
  float: left;
}
.right{
  float: right;
}
/* ------- Nav Start -------- */
.fixed {
  width: 100%;
  height: auto;
  padding: 25px 0;
  background-color: rgba(70, 69, 69, 0.349);
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 9999;
}
.menu_wrap{
  position: relative;
  overflow: auto;
}
.menu_wrap li{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 15px;
}
.menu_wrap .up_left li{
  text-transform: uppercase;
}
.logo{
  width: 204px;
  margin: 0 auto;
}
.logo h1{
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}
.up_left{
  position: absolute;
  top:12.5px;
  left: 0;
}
.up_left img{
  margin-bottom: 2px;
}
.up_right{
  position: absolute;
  top:12.5px;
  right: 0;
}
.up_right img{
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.up_right span{
  display: inline-block;
  line-height: 24px;
}
/* ------- Nav End  ------ */
/* ------- Header Start ------ */
.topper{
  position: relative;
}
.bottom_menu{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 65px;
}
.bottom_menu ul{
 overflow: auto;
 padding: 0 230px;
}
.bottom_menu ul li{
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;  
  text-transform: uppercase;
  margin-bottom: 6px;
}
.shop{
  width: 380px;
  border-bottom: 2px solid white;
  text-align: center;
}
/* -------- Header End -------- */
.contents{
  margin-top: 70px;
  overflow: auto;
}
.container{
  overflow: auto;
}
.second{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.side_50{
  width: 50%;
  height: 100%;
}
.big{
  position: relative;
  margin-bottom: 40px;
}
.small{
  padding-left: 20px;
}
.article{
  position: absolute;
  bottom: 50px;
  padding: 0 40px;
}
.article h4{
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}
.article p{
  margin-top: 13px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.article_small{
  margin-bottom: 50px;
}
.article_small h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0;
}
.article_small p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
/* ------- content End -------- */
/* -------- AD Start -------- */
.advert{
  width: 100%;
  height: 500px;
  border-top: 1px  solid #DDDDDD;
  border-bottom: 1px  solid #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad_text{
margin-right: 52px;
}
.ad_text h5{
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 12px;
}
.ad_text p{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 53px;
}
.bt_join{
  width: 280px;
  height: 56px;
  background: #5C5C5C;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF; 
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.advert img{
  position: relative;
  top: -37px;
}
/* ------ contents ------ */
.box_wrap{
  display: flex;
  justify-content: center;
}
.box1{
  width: 590px;
  height: 590px;
  background-color: #F1E6DC;;
}
.box2{
  width: 590px;
  height: 590px;
  background-color: #EDDCDC;
}
/* -------- info Start ------- */
.info{
  margin: 80px 0;
}
.list_wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info_list li{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
}
.info_list h6{
  margin-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
/* -------- Footer Start ------- */
footer{
  background-color: #666666;
  width: 100%;
  height: 120px;
}
footer p{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}